<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CJ.Factory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <!--<connectionStrings>
    <add name= "dbo" connectionString="Initial Catalog=ETD_POSDB_TEL;Data Source=10.168.14.43; User ID=TELSysUser; Password=telmis;"/>
  </connectionStrings>-->
      
  <appSettings>
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=FactoryDB;Data Source=MIS20; Integrated Security=SSPI;" />-->
    <add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=FactoryDB;Data Source=telprod09; User ID=TELSysUser; Password=telmis;"/>
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=FactoryDB;Data Source=10.168.14.43; User ID=TELSysUser; Password=telmis;"/>-->
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=FactoryDB;Data Source=telprod09; User ID=TELSysUser; Password=telmis;"/>-->
    <add key="CompanyInfo" value="TEL"/>
    <add key="CompanyName" value="Transcom Electronics Limited"/>
    <add key="CompanyAddress" value="Sadar Road, Mohakhali, Dhaka - 1206"/>
    <add key="AppLog" value="D:\CasperJetLog\WS_POS_TEL"/>
    <add key="CentralRetailWarehouse" value="174"/>
    <add key="CentralRetailWarehouseAddress" value="Transcom Electronics Limited. Village: Gashirdia, Post Office: Shashpur, Sub District: Shibpur, District: Narsingdi"/>
    <add key="RetailChannelID" value="4"/>
    <add key="DBBackupPath" value="D:\\BackUp\\TEL"/>
  </appSettings>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <CJ.Factory.Properties.Settings>
            <setting name="CJ_Factory_TELWEBSERVER_Service" serializeAs="String">
                <value>http://localhost:53002/Service.asmx</value>
            </setting>
        </CJ.Factory.Properties.Settings>
    </applicationSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
</configuration>
