<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  
    <!--Database Connection String-->

    <!--<add key="ConnectionString" value="Provider=SQLOLEDB; Data Source=TelSvr02; Initial Catalog=TELSysDB; User ID=TELSysUser; Password=telmis;"/>
    <add key="ConnectionStringToLt05" value="Provider=SQLOLEDB; Data Source=LT05; Initial Catalog=TELMISDB; User ID=TELMISUser; Password=telmis;" />
    <add key="ConnectionStringMDB" value="Provider=Microsoft.JET.OLEDB.4.0;Data Source=\\Lt05\TELData\TEL.mdb; Persist Security Info=True" />-->
    
    <!--User ID=teladmin; Password=teladmin-->
    <!--
    <add key="ConnectionString" value="Provider=SQLOLEDB; Data Source=TELWEBSERVER; Initial Catalog=TELMISDBDev; User ID=TELMISUser; Password=telmis;" />
    <add key="ConnectionStringMDB" value="Provider=Microsoft.JET.OLEDB.4.0;Data Source=D:\Local\TEL\TEL DATA\TEL.mdb; Persist Security Info=True" />-->
    

    <!--User Group--><!--
    <add key="UserGroup" value="All" />

    --><!--Auto approved while submit--><!--
    <add key="AutoApproved" value="true" />

    --><!--Menu Permission--><!--
    <add key="mnuPersons" value="true" />
    <add key="mnuSMSGroups" value="true" />
    <add key="mnuSMSMessageGroup" value="true" />
    <add key="mnuSMSMessageIndividual" value="true" />
    <add key="mnuSMSMessages" value="true" />
    <add key="mnuAdmin" value="true" />
    <add key="mnuWarranty" value="true" />
	  <add key="mnuReport" value="true" />
	
	--><!--Showroom List--><!--
	<add key="SRList" value="D:\Local\TEL\TEL.SMS\TEL.SMS.BO\XML\SRXML.xml"/>-->
  </appSettings>
</configuration>