<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CJ.Class.Properties.Settings.TELSysDBConnectionString"
            connectionString="Data Source=telsvrmis01;Initial Catalog=TELSysDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>