<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <appSettings>
    <add key="AppLog" value="C:\CasperJet"/>
    <!--<add key="ConnectionString==" value="Provider=SQLOLEDB.1;Initial Catalog=TELSysDB;Data Source=10.168.14.43; User ID=TELSysUser; Password=telmis;" />-->
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=TELSysDB;Data Source=10.168.14.43; User ID=TELSysUser; Password=telmis;"/>-->
    <add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=TELSysDB;Data Source=182.16.157.91,8433; User ID=TELSysUser; Password=telmis;" />
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=TestDB;Data Source=10.168.14.36; User ID=BLLSysCon; Password=bllconnection;" />-->
    <add key="serviceHandler" value="mode=Local;assembly=RSMS.Services"/>
    <add key="exceptionHandler" value="mode=File; source=Error.Log; maxFileSize=5; maxFiles=10"/>
    <add key="connectionHandler" value="Data Source=TELSVRMIS01;Database=Cassiopeia_HO; User ID=sa;Password=~Ease.Core.DataAccess.SQL.SqlFactory, Ease.Core, Version=1.0.0, Culture=neutral, PublicKeyToken=null~Ease.Core.DataAccess.SQL.SqlHelper, Ease.Core, Version=1.0.0, Culture=neutral, PublicKeyToken=null~SQL"/>
    <add key="producSerialShouldSkip" value="Yes"/>
    <add key="producSerialShouldNotChecked" value="Yes"/>
    <add key="MenuTree" value="D:\Local\TEL\CasperJet\CJ.Class\MenuTree.xml"/>
    <add key="Terminal" value="1"/>

    <add key="CompanyName" value="Transcom Electronics Limited"/>
    <add key="CompanyInfo" value="TEL"/>
    <add key="TDEPSEzeeBuy" value="9"/>
    <add key="EPSWarehouse" value="71"/>
    <add key="TDRetailChannelID" value="4"/>
    <add key="CentralRetailWarehouse" value="174"/>
    <add key="IsVATApplicable" value="true"/>
    <add key="AttendanceXAMPPServer" value="http://10.168.14.44:83/"/>
    <add key="WarehouseParentID" value="10"/>
    <add key="StockTransferWHID" value="174"/>
    <add key="JobLocationID" value="136"/>



    <add key="CompanyAddress" value="Plot- 31, Road-53, Gulshan Tower,Gulshan PS; Dhaka-1212, Bangladesh."/>
    <add key="POSWarehouse" value="68,69,65,66,70,85,67"/>
    <add key="InvoiceWarehouse" value="94,65,66,67,71,68,69,127"/>
    <add key="WebStore" value="155"/>
    <add key="WebStoreCustomer" value="91000001"/>
    <add key="POSCustomerID" value=""/>
    <add key="HOID" value="6"/>
    <add key="TDOID" value="7"/>
    <add key="PromotionParentWHID" value="7"/>
    <add key="CentralTMLWarehouse" value="68"/>
    <add key="CentralTMLChannel" value="2"/>
    <add key="CustTypeID" value="201"/>
    <add key="CSD_WHID_from_TD_Return_Product" value="123"/>
    <add key="SESChannel" value="14"/>
    <add key="SMDPChannel" value="13"/>
    <add key="SESWarehouse" value="155"/>
    <add key="SMDPWarehouse" value="154"/>
    <add key="UserGroup" value="All"/>
    <add key="AutoApproved" value="true"/>
    <add key="BlankCustInfo" value="3,12"/>
    <add key="WithCustInfo" value="5,6"/>
    <add key="WithSundryCustInfo" value="9"/>
    <add key="NoWarrantyCardPrint" value="1,8,10,11,2,4,7"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
