<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CJ.POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <appSettings>
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=MGA_POSDB_TEL;Data Source=MIS11; user id =TELSysUser; password=telmis;" />-->
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=DUG_POSDB_TEL;Data Source=MIS11; user id =TELSysUser; password=telmis;"/>-->
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=DLH_POSDB_TEL;Data Source=MIS11; Integrated Security=SSPI;" />-->
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=DDS_POSDB_TEL;Data Source=MIS11; Integrated Security=SSPI;" />-->
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=ETD_POSDB_TEL;Data Source=MIS03; Integrated Security=SSPI;"/>-->
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=TDD_POSDB_TEL;Data Source=10.168.14.43; User ID=TELSysUser; Password=telmis;"/>-->
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=DGN_POSDB_TEL; Data Source=MIS20; Integrated Security=SSPI;"/>-->
    <add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=ETD_POSDB_TEL;Data Source=10.168.14.43; user id =TELSysUser; password=telmis;"/>
    <!--<add key="ConnectionString" value="Provider=SQLOLEDB.1;Initial Catalog=DMK_POSDB_TEL;Data Source=ISAERP01; user id =sa; password=erp;" />-->
    <add key="Terminal" value="1" />
    <add key="POSWarehouse" value="68,69,65,66,70,85,67" />
    <add key="EPSWarehouse" value="71" />
    <add key="POSCustomerID" value="" />
    <add key="HOID" value="6" />
    <add key="TDHPAChannelID" value="11" />
    <add key="TDOID" value="7" />
    <add key="CentralTMLChannel" value="2" />
    <add key="CSDWarehouse" value="123" />
    <!-- Company Info-->
    <add key="CompanyInfo" value="TEL" />
    <add key="CompanyName" value="Transcom Electronics Limited" />
    <add key="CompanyAddress" value="Sadar Road, Mohakhali, Dhaka - 1206" />
    <add key="AppLog" value="D:\CasperJetLog\WS_POS_TEL" />
    <add key="CentralRetailWarehouse" value="70" />
    <add key="RetailChannelID" value="4" />
    <add key="TDCorporateChannelID" value="13" />
    <add key="CustomerType_TDHPA" value="244" />
    <add key="CustomerType_TDCorporate" value="249" />
    <add key="B2B_Market_GroupID" value="316" />
    <add key="CustomerType_Electronics_Dealer" value="2" />
    <add key="DealerChannelID" value="3" />
    <add key="DBBackupPath" value="D:\\BackUp\\TEL" />
    <!--<add key="CompanyInfo" value="TML" />
    <add key="CompanyName" value="Transcom Mobile Limited" />
    <add key="CompanyAddress" value="Sadar Road, Mohakhali, Dhaka - 1206" />
    <add key="AppLog" value="C:\CasperJetLog\POSTML" />
    <add key="CentralRetailWarehouse" value="155"/>
    <add key="RetailChannelID" value="14"/>
    <add key="TDCorporateChannelID" value="5"/>
    <add key="CustomerType_TDHPA" value=""/>
    <add key="CustomerType_TDCorporate" value="202"/>
    <add key="B2B_Market_GroupID" value="100"/>
    <add key="CustomerType_Electronics_Dealer" value=""/>
    <add key="DealerChannelID" value=""/>
    <add key="DBBackupPath" value="D:\\BackUp\\TML"/>-->
    <!--SMS User Group-->
    <add key="UserGroup" value="All" />
    <!--SMS Auto approved while submit-->
    <add key="AutoApproved" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <CJ.POS.Properties.Settings>
      <setting name="CJ_POS_TELWEBSERVER_Service" serializeAs="String">
        <value>http://localhost:53002/Service.asmx</value>
      </setting>
    </CJ.POS.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>